<h3><i class="fa-solid fa-ear-listen"></i>HearSync</h3>
<div class="section">
    <p class="lead">Track progress for your child's hearing health.</p>
</div>
<div class="divider"></div>
<div class="section">
   <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In With Google
   </a>
</div>