
body{   background-image: url(https://bswh-p-001-delivery.sitecorecontenthub.cloud/api/public/content/5e66d2a2a05148c0bd6b875e2e0adf39?v=a555717e);
    
    background-repeat: no-repeat; 
    background-position: center;
    
    
 }


p{
    margin: 10px 0 !important;
}
.login-container{
    width:400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small{
    font-size: 16px !important;
}

.btn-float{
    float: left; 
    margin-right: 10px;
}

.img-small{
    width: 180;
}

